.hero {
    color: white;
    padding: 50px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero__title {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero__text {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero__btn {
    background-color: #61dafb;
    border: none;
    padding: 1.1rem 6rem;
    font-size: 1em;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.hero__btn:hover {
    background-color: #21a1f1;
}

@keyframes background-color {
    0% {
        background-color: #282c34;
    }

    50% {
        background-color: #61dafb;
    }

    100% {
        background-color: #282c34;
    }

}